<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated polet -->
      <package
            uri="platform:/plugin/TDT4250Project.polet/model/polet.ecore"
            class="polet.PoletPackage"
            genModel="model/polet.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated polet -->
      <parser
            type="polet"
            class="polet.util.PoletResourceFactoryImpl"/>
   </extension>

</plugin>
